@import '~normalize.css/normalize.css';

ul, li {
  padding: 0;
  margin: 0;
}

* {
  font-family: arial;
}
body {
  padding: 20px;
}
/* You can add global styles to this file, and also import other style files */
